.main {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    width: 50vw;
    background-color: var(--charcoal);
    position: relative;
}

.image {
    position: relative;
    width: 100%;
    height: 15em;
}

.x {
    border-radius: 100%;
    background-color: white;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 10px;
    right: 1em;
    z-index: 55;
}

.plus > svg {
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.increments {
    display: flex;
    align-items: center;
    gap: 1em;
}

.increments > button {
    border-radius: 100%;
    background-color: white;
    padding: 0.5em;
    width: 2em;
    height: 2em;
}

.increments > button > svg {
    width: 100%;
    height: 100%;
}

.content {
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10em;
}

.title {
    font-weight: var(--semibold);
    font-size: 2em;
}

.price {
    font-weight: var(--regular);
    font-size: 1.2em;
}

.description {
    font-weight: var(--regular);
    font-size: 1em;
    margin-top: 10px;
}
