.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.main > div {
    width: 30%;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.inputs > div {
    margin-top: 0.5em;
    width: 100%;
}

.inputs > div > input {
    min-width: calc(100% - 2.5em);
}

.title {
    display: flex;
    justify-content: space-between;
}

.delete {
    margin-top: 1em;
}
