.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main > div {
    width: 60vw;
}

.summary {
    margin-top: 1em;
    font-weight: var(--medium);
    font-size: 1.5em;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1em;
}

.note {
    margin-bottom: 5em;
    font-weight: var(--bold);
}
