.plus {
    border-radius: 100%;
    background-color: white;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus > svg {
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    background-color: var(--coal);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    max-width: 15em;
}

.mainImg {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em;
}

.img {
    width: 12em;
    height: 12em;
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
}

.plusImg {
    position: absolute;
    top: 5px;
    right: 5px;
}

.info > span {
    font-weight: var(--regular);
}

.info > h2 {
    font-weight: var(--bold);
    word-break: break-inside;
    word-wrap: break-word;
    width: 9em;
}
