.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main > div {
    min-width: 40vw;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main > div > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
