.main {
    display: flex;
    justify-content: center;
}

.main > div {
    min-width: 40vw;
    max-width: 60vw;
}

.main > div > div {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 2em;
}
